<div class="container-fluid" sm-6>
<div >
    <img src="../../assets/img/notfound.PNG" alt="notfound"
        style="width: 1475px;
                
                padding: 1px;
                height: 652px;">
    <button routerLink="/home"
        style="position: absolute;
        margin-left: 669px;
        width: 136px;
        height: 49px;
        margin-top: -157px;
        background-color: transparent;
        border: transparent;
        border-radius: 0px;" type="button" class="btn btn-outline-light">
    </button>
</div>
</div>