 <!--nav bar-->
 <nav class="navbar navbar-dark bg-dark " style="height: 40px;">
  <!-- Navbar content -->
  <div class="rd-navbar-info" >
    <div class="icon novi-icon mdi mdi-phone"></div>
    <a style="color: aliceblue !important;text-decoration: none; "  href="tel:#">
      <h4> <i style="font-size: x-large;" class="fa fa-phone" aria-hidden="true"></i>&nbsp;  &nbsp;+1 (800) 123 1234</h4></a>
  </div>
<div>
<ul style="display: -webkit-inline-box;
            list-style: none;
            text-decoration: none;">
  <li style="margin-right: 15px;">
    <a style="color: aliceblue !important;text-decoration: none; " href="#">Log in</a></li>
  <li><a style="color: aliceblue !important;text-decoration: none;" href="#">Create an account</a></li>
</ul>
</div>
</nav>
 <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-fixed-top">
    <a class="navbar-brand" routerLink='/home'><img src="../../assets/img/compta.png" style="width: 150px;"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" routerLink='/home'>Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/Ref.comptable">Ref.Comptable</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/AccountPlan">Account plan</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown link
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>

